<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrayPsStatusRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <TrayPsStatusRunner.Properties.Settings>
            <setting name="TriggerFilePath" serializeAs="String">
                <value>status-trigger-txt</value>
            </setting>
            <setting name="ErrorTrigger" serializeAs="String">
                <value>error</value>
            </setting>
            <setting name="QuestionTrigger" serializeAs="String">
                <value>warning</value>
            </setting>
            <setting name="InfoTrigger" serializeAs="String">
                <value>what?</value>
            </setting>
            <setting name="Scripts" serializeAs="String">
                <value />
            </setting>
        </TrayPsStatusRunner.Properties.Settings>
    </userSettings>
</configuration>